body,
.body {
  background: url("@{base-url}/images/main_bg_texture.jpg");
}

h1, h2, h3, h4, h5, h6 {
  color: @colour-primary-dark;
  font-family: @headings-font-family;
  font-weight: 400;
}

p,
li,
.prose td {
  color: @base-font-colour;
  font-size: @base-font-size + 0px;
  font-family: @base-font-family;
  line-height: 1.5;
}

p {
  margin-bottom: 20px;
  margin-top: 0;
}

.prose > tr > td {
  padding-bottom: 20px;
}

.content__body {
  width: 100%;

  > tr > td {
    background: #fff;
    border: 3px dotted @colour-primary-dark;
    border-radius: 10px;
    padding: 20px;
  }
}

.footer {
  td {
    color: @base-font-colour;
    font-family: @base-font-family;
    font-size: 12px;
    line-height: 1.5;
  }
}

// Buttons
table {
  .button,
  .tiny-button,
  .small-button,
  .medium-button,
  .large-button {
    margin-left: auto;
    margin-right: auto;

    td {
      background: @colour-tertiary;
      border: 0;

      a {
        color: #fff;
        font-family: @base-font-family;
        font-size: @base-font-size + 0px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .medium-button {
    width: 50%;
  }
}

// Referrals
table.container .referral {
  > table.row {
    display: table;
  }
}

// Rewards: Confirm details.
table.container .confirm-details {
  > table.row {
    display: table;
  }
}

// Rewards: Tier notify.
table.container .reward-tier-notify {
  > table.row {
    display: table;
  }
}

// Golden/Season Ticket: Welcome (confirm details in disguise).
table.container .welcome {
  > table.row {
    display: table;
  }

  .welcome__qr-code td {
    text-align: center;

    img {
      background: #fff;
      border: 1px solid @colour-neutral-light;
      display: inline;
      float: none;
    }
  }
}

// Vouchers
table.container .voucher {
  > table.row {
    display: table;
  }

  .voucher__intro td {
    text-align: center;
  }

  .voucher__offer td {
    colour: @colour-secondary-dark;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  .voucher__summary td {
    text-align: center;
  }

  .voucher__code td {
    font-weight: bold;
    text-align: center;
  }

  .voucher__qr-code td {
    text-align: center;

    img {
      background: #fff;
      border: 1px solid @colour-neutral-light;
      display: inline;
      float: none;
    }
  }

  .voucher__terms td {
    background: @colour-secondary-dark;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    font-family: @base-font-family;
    line-height: 1.5;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
