// Wonky borders
.wonky-borders(@top: 8, @right: -8, @bottom: -8, @left: 10, @borders: 8px 8px 8px 10px, @url: ~"../images/square_1deg_right.png") {
  position: relative;
  z-index: 0;

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;

    top: @top + 0px;
    right: @right + 0px;
    bottom: @bottom + 0px;
    left: @left + 0px;

    border-color: @colour-neutral-dark;
    border-color: rgba(red(@colour-neutral-dark), green(@colour-neutral-dark), blue(@colour-neutral-dark), .8);
    border-width: @borders;
    border-style: solid;
    .border-image(url(@url) 10 stretch);
  }
}

// Wonky borders for grid cells
.wonky-borders--box(@top: 8, @right: -8, @bottom: -8, @left: 10, @borders: 8px 8px 8px 10px, @url: ~"../images/square_1deg_right.png") {
  .wonky-borders(@top, @right, @bottom, @base-gutter-width + @left);
}
