.button-dashed() {
  // Override Minima defaults.
  .border-radius(0);
  height: auto;

  border: 1px dashed @colour-quaternary-lighter;
  &:focus {
    border: 1px dashed @colour-quaternary-lighter;
  }

  .padding(vertical, .2);
  .padding(horizontal, .85);

  text-shadow: 1px 1px 0px rgba(0,0,0,.3);
  color: @colour-quaternary-lighter;

  text-transform: uppercase;
  .font-size(15);
  font-weight: 700;

  &.is-active {
    opacity: .6;

    &:hover {
      cursor: default;
    }
  }

  &:active,
  &:hover,
  &:focus {
    color: @colour-quaternary-lighter;
  }

  &:active {
    .translate(4px, 3px);
  }

  .transition(.2s all);
}

.button-dashed--primary() {
  background: @colour-primary;
  .box-shadow(~"0 0 0 2px @{colour-primary}, 6px 5px 1px rgba(0,0,0,.5)");

  &.is-active {
    &:hover {
      background: @colour-primary;
    }
  }

  &:hover,
  &:active {
    background: @colour-secondary-dark;
    .box-shadow(~"0 0 0 2px @{colour-secondary-dark}, 6px 5px 1px rgba(0,0,0,.5)");
  }

  &:active {
    .box-shadow(~"0 0 0 2px @{colour-secondary-dark}, inset 0 3px 5px 0 rgba(0,0,0,0.2)");
  }
}

.button-dashed--secondary() {
  background: @colour-neutral;
  .box-shadow(~"0 0 0 2px @{colour-neutral}, 6px 5px 1px rgba(0,0,0,.5)");

  &.is-active {
    &:hover {
      background: @colour-neutral;
    }
  }

  &:hover,
  &:active {
    background: @colour-neutral-light;
    .box-shadow(~"0 0 0 2px @{colour-neutral-light}, 6px 5px 1px rgba(0,0,0,.5)");
  }

  &:active {
    .box-shadow(~"0 0 0 2px @{colour-neutral-light}, inset 0 3px 5px 0 rgba(0,0,0,0.2)");
  }
}

.button-dashed--tertiary() {
  background: @colour-tertiary;
  .box-shadow(~"0 0 0 2px @{colour-tertiary}, 6px 5px 1px rgba(0,0,0,.5)");

  &.is-active {
    &:hover {
      background: @colour-tertiary;
    }
  }

  &:hover,
  &:active {
    background: @colour-primary;
    .box-shadow(~"0 0 0 2px @{colour-primary}, 6px 5px 1px rgba(0,0,0,.5)");
  }

  &:active {
    .box-shadow(~"0 0 0 2px @{colour-primary}, inset 0 3px 5px 0 rgba(0,0,0,0.2)");
  }
}
