// Border images
.border-image(@properties) {
  -webkit-border-image: @properties; /* Safari 5 */
     -moz-border-image: @properties; /* Firefox */
       -o-border-image: @properties; /* Opera */
      -ms-border-image: @properties; /* ie11? */
          border-image: @properties;
          border-style: solid;
}

// Footer text commons
.footer-text() {
  text-shadow: 1px 1px 0px rgba(0,0,0,.2);
  color: @colour-quaternary-lighter;
}

.transform(@params) {
  -webkit-transform: @params;
     -moz-transform: @params;
      -ms-transform: @params;
       -o-transform: @params;
          transform: @params;
}


// Swivel Anti Clockwise Animation
@-webkit-keyframes HHSwivelAntiCW {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
@keyframes HHSwivelAntiCW {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

.HHSwivelAntiCW() {
  -webkit-animation-name: HHSwivelAntiCW;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: .5s;
  -webkit-animation-direction: alternate;
  animation-name: HHSwivelAntiCW;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: .5s;
  animation-direction: alternate;
}

.rotate(@deg, @origin: 0% 0%) {
  -webkit-transform: rotate(@deg);
  -webkit-transform-origin: @origin;
     -moz-transform: rotate(@deg);
     -moz-transform-origin: @origin;
       -o-transform: rotate(@deg);
       -o-transform-origin: @origin;
      -ms-transform: rotate(@deg);
      -ms-transform-origin: @origin;
          transform: rotate(@deg);
          transform-origin: @origin;
}

.skewX(@deg, @origin: 0% 0%) {
  -webkit-transform: skewX(@deg);
  -webkit-transform-origin: @origin;
     -moz-transform: skewX(@deg);
     -moz-transform-origin: @origin;
       -o-transform: skewX(@deg);
       -o-transform-origin: @origin;
      -ms-transform: skewX(@deg);
      -ms-transform-origin: @origin;
          transform: skewX(@deg);
          transform-origin: @origin;
}

.skewY(@deg, @origin: 0% 0%) {
  -webkit-transform: skewY(@deg);
  -webkit-transform-origin: @origin;
     -moz-transform: skewY(@deg);
     -moz-transform-origin: @origin;
       -o-transform: skewY(@deg);
       -o-transform-origin: @origin;
      -ms-transform: skewY(@deg);
      -ms-transform-origin: @origin;
          transform: skewY(@deg);
          transform-origin: @origin;
}

.skew(@degX, @degY, @origin: 0% 0%) {
  -webkit-transform: skew(@degX, @degY);
  -webkit-transform-origin: @origin;
     -moz-transform: skew(@degX, @degY);
     -moz-transform-origin: @origin;
       -o-transform: skew(@degX, @degY);
       -o-transform-origin: @origin;
      -ms-transform: skew(@degX, @degY);
      -ms-transform-origin: @origin;
          transform: skew(@degX, @degY);
          transform-origin: @origin;
}

.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
