.placeholder() {
  color: @base-font-colour;
  font-family: @base-font-family;
  .font-size(@base-font-size);
  font-weight: normal;
  line-height: 2;

  vertical-align: bottom;
}

.button-append(@button-width: 60px) {
  .form-item {
    padding-right: @button-width;
    float: left;

    > .form-item__field {
      margin: 0;

      > input {
        .border-radius(8px 0 0 8px);
        border-right: 0;
      }
    }
  }

  .form-button,
  .form-submit {
    .border-radius(0 8px 8px 0);
    .font-size(23);

    width: @button-width;
    float: left;
    margin-left: -@button-width;

    .box-shadow(inset 0 2px 2px rgba(0,0,0,.28));

    outline: 0;
    border: 1px solid #ccc;
    border-left: 0;
    .padding(horizontal, .25);
    padding-top: 0;
    padding-bottom: 0;
    .height(1.5);

    position: relative;
  }
}

.align-labels(@width: 120px) {
  .form-wrapper,
  > div {
    > .form-item--textfield,
    > .form-item--select,
    > .form-item--emailfield,
    > .form-item--date_text {
      padding-left: @width;

      > .form-item__label {
        float: left;
        margin-left: -@width;
        width: @width;
        text-align: right;
        .padding(right, .5);
        clear: both;
        .margin(top, .2);
      }

      > .form-item__field {
        margin: 0;
      }
    }

    > .form-item--date_text > .form-item__field > .form-item  {
      margin: 0;
      > .form-item__field { margin: 0; }
    }

    > .form-item--checkbox {
      padding-left: @width - 25px;
    }

    &.form-wrapper--name,
    &#edit-name {
      padding-left: @width;
      .clearfix();

      > .form-item__label {
        float: left;
        margin-left: -@width;
        width: @width;
        text-align: right;
        .padding(right, .5);
        .margin(top, .2);
      }

      > .form-item--textfield,
      > .form-item--select {
        padding-left: 0;
        float: left;
      }

      > .form-item--select {
        width: 20%;
      }

      > .form-item--textfield {
        .padding(left, .5);
        width: 40%;
      }
    }
  }
}
