// Ensure headings fonts defaults match loaded fonts in text-width and line-height.
.headings-font-family() {
  font-family: @headings-font-family;

  .no-js &,
  .mti-loading {
    letter-spacing: 1px;
  }
}
