.selecter-options {
  z-index: 102;
}

label, .form-item__label {
  font-weight: 400;
  .font-size(19);
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  padding-top: 0;
  padding-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  .border-radius(8px);
  .box-shadow(inset 2px 2px 2px rgba(0,0,0,.28));
  .padding(horizontal, 1/2);

  vertical-align: middle;

  &:focus {
    border-color: @colour-primary;
  }
}

.form-item__field {
  .margin(vertical, .3);
}

.form-item--checkbox > .form-item__field {
  padding-left: 25px;

  > .form-checkbox {
    float: left;
    margin-left: -25px;
    margin-top: 8px
  }

  > .form-item__label--option {
    padding-left: 0;
  }
}

// Stop the original select element from being selectable from outside element area.
html.js .selecter-element {
  z-index: -1;
}

.selecter {
  max-width: none;
  margin: 0;

  &.open > selecter-selected {
    .border-radius(8px);
  }

  > .selecter-selected {
    .border-radius(8px);
    .box-shadow(inset 2px 2px 2px rgba(0,0,0,.28));
    .height(1.5);
    .padding(horizontal, 1/2);
    //.padding(vertical, 1/3);
    .placeholder();
    .transition(~'border-color .15s linear');

    background-color: #fff;
    border: 1px solid #ccc;
    line-height: normal;
    width: 100%;

    padding-right: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.open {
    > .selecter-selected {
      background-color: #fff;
      .border-radius(8px 8px 0 0);
    }

    > .selecter-options {
      .border-radius(0 0 8px 8px);

      > .selecter-item {
        .padding(horizontal, 1/2);
        .font-size(16);

        &.last {
          .border-radius(0 0 8px 8px);
        }
      }
    }
  }
}

.form-item--select {
  position: relative;
}
