h1, h2, h3, h4, h5, h6 {
  color: @colour-primary-dark;
  font-weight: 400;
  .headings-font-family();
}

.page-title() {
  text-align: center;
  .font-size(36);
  font-weight: 700;

  .padding(bottom, .75);
  .margin(bottom);
  border-bottom: 2px dotted;

  text-transform: uppercase;
}

h1 {
  .page-title();
}

h2 {
  .font-size(22);
  font-weight: 700;
}

h3 {
  .font-size(18);
  color: @colour-secondary-dark;
  font-weight: 700;
}

h4 {
  .font-size(18);
  color: @colour-neutral-dark;
}

h5 {
  .font-size(18);
  color: @colour-secondary;
}

h6 {
  .font-size(18);
  color: @colour-secondary-dark;
  font-weight: 200;
}
