table {
  .border-image(url(../images/scribbled_border_maroon.png) 13 13 round);

  border-width: 13px;
  border-collapse: separate;

  th {
    font-family: @headings-font-family;
  }

  td, th {
    .padding(all, 2/3);

    border-bottom: 2px dotted @colour-primary;
    border-right: 2px solid @colour-primary;
  }

  thead {
    th {
      border-bottom-style: solid;
    }
  }
}
