body {
  //letter-spacing: .1px;
  -webkit-font-smoothing: antialiased;
}

p.standout {
  .font-size(18);
  .padding(all);
  .border-radius(12px);

  background: #fff;
  border: 1px solid @colour-primary-lighter;
  color: @colour-primary;
  font-family: @headings-font-family;
}

blockquote {
  .font-size(14);
  background: @colour-quaternary-lighter;
  .padding(horizontal, .5);
  .padding(vertical, .25);
  border-left-width: 2px;

  &.pull-quote {
    background: none;
    font-style: normal;
  }
}
