#primary > .inner {
  min-height: 400px;
}

.branding {
  > a {
    position: relative;
    &:before {
      background: url(../images/sprite--desk.png) -450px -200px no-repeat;
      width: 135px;
      height: 90px;
      display: block;
      content: " ";
      position: absolute;
      top: 60px;
      right: -90px;
      z-index: 1; // Ensure it takes part of the link outside of containing elements.
    }

    &:hover:before {
      .HHSwivelAntiCW();
    }
  }
}

.menu-block-gk-core-user-menu {
  float: right;
  z-index: 3;
  position: relative;
  .margin(top, .25);

  > .nav {
    > .nav__item {
      float: left;
      text-decoration: underline;
      .margin(left, .75);

      &:first-child {
        margin-left: 0;
      }

      > a {
        color: @colour-secondary-darker;

        &:hover {
          color: @link-colour-hover;
        }

        &:active {
          color: @link-colour-active;
        }
      }

      &.is-active > a {
        color: @colour-secondary-dark;
      }
    }
  }
}

.branding {
  margin-bottom: 0;
}

#header-top {
  margin-bottom: -38px;
}

#header {
  > .container__inner {
    > .grid {
      padding-bottom: 0;
    }
  }

  .menu-block-gk-core-main-menu {
    margin-top: 115px;

    > .nav {
      padding-left: 0;
      text-align: center;

      > .nav__item {
      .inline-block();

        &:first-child {
          > a {
            &:before {
              content: "";
            }
          }
        }

        > a {
          position: relative;

          .padding(left, 0.7);
          .padding(right, 0.7);

          .transition(none);

          &:before {
            content: "•";
            position: absolute;
            left: -5px;

            .transition(none);
          }
        }

        &:hover > a:before {
          color: @link-colour-hover !important;
        }

        &.is-active:hover > a:before {
          color: @colour-secondary-dark !important;
        }

        &:hover + .nav__item > a:before {
          color: @link-colour-hover;
        }

        &.is-active:hover + .nav__item > a:before,
        &.is-active + .nav__item > a:before {
          color: @colour-secondary-dark;
        }
      }
    }
  }
}

#footer {
  .box--system-main-menu,
  .box--menu-menu-helpful-links {
    margin-bottom: 0;
  }
}

.box--hh-core-hh-welcome {
  > .box__inner {
    > .box__content {
      > a {
        display: block;
        width: 600px;
        height: 180px;
        background: url(../images/sprite--desk.png) 0px 0px;
        float: right;
      }
    }
  }
}

.box--gk-social-gk-social-networks + .box--hh-core-hh-footer-affiliates .box__content {
  border-top: 1px dashed #fff;
  .padding(top);
}

.box--menu-block-gk-core-footer-menu {
  .nav {
    margin-bottom: 0;
    float: right;
  }
}

.box--gk-contact-form-contact {
  .align-labels();
}

#gk-locations-search-form {
  #edit-search {
    .align-labels();
  }
}

#gk-rewards-user-details-form {
  .align-labels(140px);

  .form-item--edit-postcode {
    width: 50%;
    float: left;
    .padding(right, .5);
  }

  .form-item--edit-date-of-birth {
    width: 50%;
    float: left;
  }

  #edit-comms,
  .form-item--edit-comms-opt-in-other {
    clear: both;
  }

  .form-actions {
    text-align: center;

    &:before {
      background: url(../images/sprite--desk.png) -250px -1950px no-repeat;
      content: " ";
      display: block;
      height: 50px;
      width: 310px;
      left: 40px;
      position: absolute;
      top: -10px;
      z-index: 20;
    }
  }
}

.box--gk-contact-form-contact {
  margin-top: 75px;
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    background: url(../images/sprite--desk.png) -300px -950px no-repeat;
    width: 380px;
    height:50px;
    top: -60px;
    left: 50%;
    margin-left: -190px;
  }
}

// Menus
.no-js .box--menu-item {
  &:nth-child(2n+1) {
    clear: left;
  }

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.gk-signup-reward-info {
  max-width: 475px;
  float: right;
  margin-top: -275px;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -27px;
    left: -275px;
    width: 250px;
    height: 40px;
    background: url(../images/sprite--desk.png) -250px -1900px no-repeat;
    z-index: 20;
  }
}

.box--hh-locations-hh-locations-search-form {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: -52px;
    right: -200px;
    width: 200px;
    height: 550px;
    background: url(../images/sprite--desk.png) -800px -550px no-repeat;

    #secondary & {
      top: 120px;
      right: -155px;
      width: 133px;
      height: 151px;
      background: url(../images/sprite--desk.png) -150px -800px no-repeat;
    }
  }
}

#secondary .box--gk-menus-gk-menus-navigation {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 100px;
    right: -170px;
    width: 150px;
    height: 200px;
    background: url(../images/sprite--desk.png) 0px -800px no-repeat;
  }
}

.box--gk-menus-gk-menus-menu > .box__inner > .box__content {
  > .box--menu-section {
    position: relative;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      z-index: -2;
    }

    &:nth-child(5n+1):after {
      top: 150px;
      right: -155px;
      width: 211px;
      height: 300px;
      background: url(../images/sprite--desk.png) -400px -1000px no-repeat;
    }

    &:nth-child(5n+2):after {
      top: 0;
      right: -190px;
      width: 120px;
      height: 315px;
      background: url(../images/sprite--desk.png) -400px -1300px no-repeat;
    }

    &:nth-child(5n+3):after {
      top: 50%;
      right: -200px;
      width: 127px;
      height: 172px;
      background: url(../images/sprite--desk.png) -634px -1150px no-repeat;
    }

    &:nth-child(5n+4):after {
      top: 20%;
      right: -180px;
      width: 150px;
      height: 150px;
      background: url(../images/sprite--desk.png) -200px -1000px no-repeat;
    }

    &:nth-child(5n+5):after {
      bottom: 35%;
      right: -175px;
      width: 211px;
      height: 150px;
      background: url(../images/sprite--desk.png) 0px -1850px no-repeat;
    }
  }
}

.box--promotion-big-deal-drinks {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -360px;
    right: -220px;
    width: 200px;
    height: 458px;
    background: url(../images/sprite--desk.png) 0px -1150px no-repeat;
  }
}

.section-deals .box--promotion-sweet-saturday {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: -100px;
    right: -260px;
    width: 200px;
    height: 450px;
    background: url(../images/sprite--desk.png) -200px -1150px no-repeat;
  }
}

.box--gk-locations-gk-locations-search-results-map {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: -210px;
    width: 200px;
    height: 212px;
    background: url(../images/sprite--desk.png) -400px -1650px no-repeat;
  }
}

// ROTW
.front #bottom > .container__inner {
  .box--promotion-group-rotw {
    margin-top: -150px;
  }
}

.box--promotion-group-rotw {
  position: relative;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: -86px;
    left: 0;
    width: 322px;
    height: 92px;
    background: url(../images/sprite--desk.png) -300px -800px no-repeat;
  }

  .promotion { position: relative; }

  .promotion:after {
    content: " ";
    display: block;
    position: absolute;
  }

  .promotion--its-clucking-monday:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -90px;
    left: -175px;
    width: 200px;
    height: 200px;
    background: url(../images/sprite--desk.png) 0px -300px no-repeat;
  }

  .promotion--its-tempting-tuesday:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -135px;
    left: -175px;
    width: 165px;
    height: 230px;
    background: url(../images/sprite--desk.png) -200px -300px no-repeat;
  }

  .promotion--its-curry-club-wednesday:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -135px;
    left: -152px;
    width: 150px;
    height: 200px;
    background: url(../images/sprite--desk.png) -400px -300px no-repeat;
  }

  .promotion--its-rib-tickling-thursday:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -25px;
    left: -200px;
    width: 188px;
    height: 193px;
    background: url(../images/sprite--desk.png) -550px -300px no-repeat;
  }

  .promotion--its-fish--chip-fry-day:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -35px;
    left: -180px;
    width: 160px;
    height: 216px;
    background: url(../images/sprite--desk.png) -750px -300px no-repeat;
  }

  .promotion--its-sweet-saturday:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -15px;
    left: -192px;
    width: 176px;
    height: 198px;
    background: url(../images/sprite--desk.png) -200px -550px no-repeat;
  }

  .promotion--its-sunday-roast-with-no-washing-up:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -24px;
    left: -210px;
    width: 200px;
    height: 220px;
    background: url(../images/sprite--desk.png) -400px -550px no-repeat;
  }

  .promotion--big-burger-deals:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 36px;
    left: -175px;
    width: 154px;
    height: 204px;
    background: url(../images/sprite--desk.png) -0px -550px no-repeat;
  }
}

.box--hh-core-hh-strapline {
  margin-right: 60px;

  .box__content {
    height: 90px;
    width: 440px;
    float: right;
    background: url(../images/sprite--desk.png) 0px -200px no-repeat;
    .margin(bottom, .65);
  }
}

.box--hh-core-hh-social-feeds {
  position: relative;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 40px;
    right: -89px;
    width: 70px;
    height: 208px;
    background: url(../images/sprite--desk.png) -900px 0px no-repeat;
  }
}

.box--promotion-group-home-cards {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -55px;
    right: -90px;
    width: 300px;
    height: 281px;
    background: url(../images/sprite--desk.png) -600px 0px no-repeat;
  }
}

/* Commented out as contact form not in use on HH so this speechmark thing is no longer required
.section-contact .box--promotion-saddle-up {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -220px;
    right: 42px;
    width: 110px;
    height: 90px;
    background: url(../images/sprite.png) 0px 0px no-repeat; // If used again please find correct coordinates
  }
}

.box--gk-contact-form-enquiry {
  position: relative;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -10px;
    left: -200px;
    width: 110px;
    height: 105px;
    background: url(../images/sprite.png) -798px -1935px;
    // If used again please find correct coordinates and use new sheet
  }
} */

.box--gk-locations-gk-locations-list {
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 150px;
    left: -150px;
    width: 135px;
    height: 135px;
    background: url(../images/sprite--desk.png) 0px -2000px no-repeat;
  }
  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 700px;
    left: -120px;
    width: 135px;
    height: 135px;
    background: url(../images/sprite--desk.png) -150px -2000px no-repeat;
  }
}

.box--gk-menus-gk-menus-key {
  position: relative;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -98px;
    left: -150px;
    width: 155px;
    height: 222px;
    background: url(../images/sprite--desk.png) -800px -1100px no-repeat;
  }
}

.section-pub-search #content {
  position: relative;
}

.box--gk-locations-gk-locations-search-results-list {
  position: absolute;
  top: 95px;
  left: 0;
  .margin(left);
  width: 450px;

  .box__inner {
    border: 0;
    .padding(horizontal, .5);
    .padding(vertical, .8);

    > .box__title {
      .padding(left, .5);
      cursor: pointer;

      position: relative;
      &:after {
        content: " ";
        position: absolute;
        top: 12px;
        right: 15px;

        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-bottom: 15px solid @colour-secondary-dark;
      }

      &.content-is-hidden:after {
        border-top: 15px solid @colour-secondary-dark;
        border-bottom: 0;
      }
    }
  }
}

.location-search-results {
  > .location-search-results__list-item {
    position: relative;
    padding-right: 170px;
    .margin(bottom, .25);
    > .location-search-results__cta {
      position: absolute;
      top: 0;
      right: 0;
      .margin(top);
      .margin(right, .5);
    }
  }
}

#gk-locations-search-form {
  #edit-search {
    padding-left: @base-gutter-width + 185px;

    .js & {
      padding-right: @base-gutter-width + 165px;
    }

    > .form-item__toggle {
      float: right;
      margin-right: -165px;
      .padding(left, .5);
      width: 165px;
      margin-top: 6px;

      &:hover {
        color: @colour-quaternary-light;
      }
    }

    > h1 {
      float: left;
      text-align: right;
      width: 185px;
      margin-left: -185px;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      .padding(right, .5);
    }
  }

  #edit-advanced-search {
    > div {
      > .form-item--edit-facilities {
        .clearfix();

        padding-left: 90px;

        > .form-item__label {
          float: left;
          margin-left: -90px;
          text-align: right;
          .padding(right, .8);
          width: 90px
        }
      }

      padding-right: @base-gutter-width + 150px;
      position: relative;

      > .form-item--edit-radius {
        position: absolute;
        right: 0;
        bottom: 0;
        .margin(right);
        .margin(bottom);
        width: 150px;
        .padding(left, .5);

        .form-item__field {
          margin: 0;
        }
      }
    }
  }
}

.section-pub-search {
  #gk-locations-search-form #edit-search {
    padding-right: 375px;
    position: relative;
    &:after {
      content: " ";
      width: 150px;
      height: 170px;
      position: absolute;
      top: -10px;
      right: 30px;
      background: url(../images/sprite--desk.png) 0px -1650px no-repeat;
      z-index: -1;
    }
  }

  .box--gk-locations-gk-locations-search-results-map {
    .location-map {
      height: 700px;
    }
  }
}

.gk-about-header {
  margin-bottom: -65px;
}

.box--gk-members-gk-members-user,
.box--menu-block-gk-core-user-menu {
  float: right;
  width: auto;
}

.box--menu-block-gk-core-user-menu {
  .padding(bottom, .65);
}

.box--gk-members-gk-members-user {
  margin: 0;

  &.box--expanded {
    position: absolute;
    z-index: 999;
    right: 0;

    #user-login-form { margin-bottom: -6px; }

    > .box__inner > .box__content > a {
      .box-shadow(8px 5px 1px -3px rgba(0,0,0,0.5));

      &:hover { background: @colour-tertiary; }
    }
  }

  > .box__inner > .box__content {
    text-align: right;

    > a {
      .inline-block();
      .padding(horizontal, .5);
      .padding(top, .25);
      .padding(bottom, .5);
      background: @colour-tertiary;
      color: @colour-quaternary-lighter;
      .headings-font-family();
      .font-size(14);
      text-shadow: 1px 1px 1px rgba(0,0,0,.3);
      .border-radius(0 0 10px 10px);
      .box-shadow(3px 0px 1px 2px rgba(0,0,0,.5));

      &:hover {
        background: @colour-tertiary-dark;
      }

      position: relative;
      z-index: 2;
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 4px;
        left: 4px;
        bottom: 4px;
        border: 2px dotted @colour-quaternary-light;
        border-top: 0;
        .border-radius(0 0 8px 8px);
      }
    }

    > #user-login-form {
      background: @colour-tertiary;
      .box-shadow(3px 0px 1px 2px rgba(0,0,0,.5));

      position: relative;
      z-index: 1;
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 4px;
        left: 4px;
        bottom: 4px;
        border: 2px dotted @colour-quaternary-light;
        border-top: 0;
        z-index: -1;
      }

      > div {
        .padding(vertical, .5);
        .padding(left, .5);
        padding-right: 120px;
        .clearfix();

        > ul {
          display: none;
        }

        > .form-item {
          width: 170px;
          margin: 0;
          float: left;
          clear: left;

          .form-text { border-color: @colour-neutral; }
        }

        > .form-actions {
          width: 95px;
          text-align: center;
          position: absolute;
          bottom: @base-gutter-width * .5 + 5px;
          right: @base-gutter-width * .5 + 0px;

          > .form-submit {
            .button-dashed--primary();
            .padding(horizontal, .4);
            .font-size(15);
            margin: 0;
          }
        }
      }
    }
  }
}

.items--articles,
.items--events {
  .node__content {
    .field-name-field-article-image,
    .field-name-field-event-image {
      width: 180px;
      .margin(right);
      .margin(bottom, .5);
    }
  }
}

.node--event {
  .item__date--short {
    width: 180px;
  }
}

.box--hh-thank-you-for-signing-up {
  text-align: center;
  color: #fff;
  border-width: 10px;
  background: #fff;
  margin-bottom: 112px;

  > .box__inner {
    background: url(../images/sign-up-banner-background.jpg) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    .padding(all);
    padding-bottom: 90px;

    &:before {
      content: " ";
      position: absolute;
      bottom: 0;
      background: url(../images/sign-up-envelope.png) no-repeat;
      width: 404px;
      height: 194px;
      left: 50%;
      margin-left: -150px;
    }

    > .box__title,
    > .box__title--additional,
    > .box__content {
      margin-left: auto;
      margin-right: auto;
    }

    > .box__title {
      border: 0;
      padding-bottom: 0;
      color: #fff;
      .margin(bottom, .5);
      font-weight: 900;
      letter-spacing: 1px;
      text-shadow: 3px 4px 0 rgba(0,0,0,.8);
      .font-size(84);
      line-height: 1.2;
      margin-bottom: 0;
    }

    > .box__title--additional {
      .margin(bottom);
      margin-top: 0;
      color: #fff;
      .font-size(40);
      text-transform: uppercase;
      letter-spacing: 1px;
      text-shadow: 2px 3px 0 rgba(0,0,0,.8);
    }

    > .box__content {
      max-width: 620px;
      .wonky-borders();

      > .box__content-inner {
        .padding(all);
        background: #80a6b0;

        > p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.box--hh-thank-you-for-signing-up-goldcard {
  .border-image(url(../images/scribbled_border_orange.png) 13 13 round);

  > .box__inner {
    background: url(../images/sign-up-banner-background-goldcard.jpg) no-repeat -20px -20px;

    > .box__content {
      > .box__content-inner {
        background: @colour-quinary-darker;
      }
    }
  }
}

#user-profile-form {
  > div {
    > fieldset {
      .form-item {
        padding-left: 175px;

        > label {
          width: 175px;
          float: left;
          margin-left: -175px;
          text-align: right;
          .padding(right, .5);
        }

        > input, select {
          float: left;
          width: 100%;
        }
      }

      .form-item--password_confirm {
        padding: 0;
      }

      .field-type-datetime {
        > div {
          > fieldset {
            border: 0;
            padding: 0 0 0 175px;

            > legend {
              width: 175px;
              float: left;
              margin-left: -175px;
              text-align: right;
              .padding(right, .5);
              .margin(top, .3);
            }

            > .form-item {
              padding: 0;
              width: 100%;
              float: left;

              .form-item {
                margin: 0;
                padding: 0;
                float: none;

                > .form-item__field {
                  margin: 0;
                }
              }
            }
          }
        }
      }

      &#edit-timezone {
        > .form-item {
          padding-left: 125px;

          > .form-item__label {
            width: 125px;
            margin-left: -125px;
          }
        }
      }
    }
  }
}

.cookies__message {
  margin-bottom: 0;
}

.cookies__options {
  .inline-block();

  > li {
    .margin(left);
  }
}

#mix--match-buckets {
  > .box__inner {
    border-width: 25px;
    .border-image(url(../images/star_border.png) 20 round);
    margin-top: 100px;

    position: relative;
    &:before {
      content: " ";
      width: 350px;
      height: 290px;
      position: absolute;
      top: -129px;
      right: -32px;
      background: url(../images/sprite--desk.png) -600px -1450px no-repeat;
      z-index: 20;
    }

    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      > .box__inner {
        padding-left: 108px;
      }
    }

    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      position: relative;
      &:before {
        top: 0;
        left: 13px;
      }
    }

    > #how-many-buckets {
      > .box__inner {
        > .box__content {
          padding-right: 170px;
        }
      }
    }
  }
}

// christmas enquiry page
.gk-hh-christmas-enquiry-page {

  // switch scyscraper on
  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-top-half,
  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-bottom-half {
    display: inherit;
    padding: 0px;
    margin-top: 1px;
  }
}
