#primary > .inner {
  min-height: 400px;
}

#page:before {
  top: 200px;
}

body.navinate--is-expanded {
  #header {
    left: -50%;
    right: 50%;
  }

  #header-top, #top, #main, #bottom, #footer-sections #banner {
    .transform(translate(-50%, 0));
  }
}

body.menusNav--is-expanded {
  #header {
    left: 50%;
    right: -50%;
  }

  #header-top, #top, #main, #bottom, #footer-sections #banner {
    .transform(translate(50%, 0));
  }
}

.portable-nav,
.portable-menus-nav {
  width: 50%;

  &.is-open {
    .transform(translate(0, 0));
  }
}

.portable-nav {
  &.is-closed {
    box-shadow: none;
    .transform(translate(100%, 0));
  }
}

.portable-menus-nav {
  &.is-closed {
    box-shadow: none;
    .transform(translate(-100%, 0));
  }
}

#footer {
  .box--system-main-menu,
  .box--menu-menu-helpful-links {
    margin-bottom: 0;
  }
}

.box--gk-social-gk-social-networks + .box--hh-core-hh-footer-affiliates .box__content {
  border-top: 1px dashed #fff;
  .padding(top);
}

.section-pub-search #gk-locations-search-form {
  .form-item--edit-location {
    &:before {
      left: 10px;
    }
  }
}
