//
// Layout =======================================================================
//

#primary, #secondary, #tertiary {
  .margin(bottom);
}

// Palm
@media @palm {
  @import "layout/palm.less";
}

// Lap
@media @lap {
  @import "layout/lap.less";
}

// Portable
@media @portable {
  @import "layout/portable.less";
}

// Desk
@media @desk {
  @import "layout/desk.less";
}
