#page {
  &:before {
    display: none;
  }
}

#header-top .container__inner:before {
  display: none;
}

body.navinate--is-expanded {
  #header {
    right: 80%;
    left: -80%;
  }

  #top, #main, #bottom, #footer, #footer-bottom, #banner {
    .transform(translate(-80%, 0));
  }
}

body.menusNav--is-expanded {
  #header {
    right: -80%;
    left: 80%;
  }

  #top, #main, #bottom, #footer, #footer-bottom, #banner {
    .transform(translate(80%, 0));
  }
}

.portable-nav,
.portable-menus-nav {
  width: 80%;

  &.is-open {
    .transform(translate(0, 0));
  }
}

.portable-nav {
  &.is-closed {
    box-shadow: none;
    .transform(translate(100%, 0));
  }
}


.portable-menus-nav {
  &.is-closed {
    box-shadow: none;
    .transform(translate(-100%, 0));
  }
}

#footer {
  .box--system-main-menu,
  .box--menu-menu-helpful-links {
    .nav {
      .column-count(2);
    }

    .box__title {
      .margin(bottom, .5);
      .padding(bottom, .5);
      border-bottom: 1px dashed;
    }
  }

  .box--menu-menu-helpful-links {
    .margin(bottom, 1.5);
  }
}

.box--gk-social-gk-social-networks .box__content,
.box--hh-core-hh-footer-affiliates .box__content {
  text-align: center;
}

.box--gk-social-gk-social-networks .box__content {
  border-top: 1px dashed #fff;
  .padding(top);
}

.section-pub-search #gk-locations-search-form {
  .margin(bottom);

  .form-item--edit-location {
    &:before {
      display: none;
    }
  }
}
