body.navinate--is-expanded,
body.menusNav--is-expanded {
  overflow: hidden;
}

.container__inner {
  .margin(horizontal, .5);
}

#page {
  padding-top: 50px;
}

#header-top {
  display: none;
}

#header-top, #top, #main, #bottom, #footer-sections, #header, #banner {
  .transition(all .25s);
}

#header {
  position: fixed;
  z-index: 110;
  right: 0;
  left: 0;
  top: 0;
  body.admin-menu & { top: 29px; }

  background: @colour-primary-dark;
  .box-shadow(~"0 3px 2px rgba(0,0,0,.3), inset 0px 10px 40px rgba(0,0,0,.2)");

  .container__inner {
    margin: 0;
    .clearfix();

    .grid {
      padding: 0;
      margin-left: 0;
    }
  }
}

#primary, #secondary {
  .margin(bottom);
}

/**
 ** Branding
 */
.branding {
  margin: 0;
  float: left;
  width: 50px;
  height: 50px;
  padding: 0;
  .padding(left, .25);
  padding-top: 5px;
  padding-bottom: 5px;

  .branding__logo {
    max-height: 100%;
    width: auto;
  }
}

/**
 ** Navigation
 */
.navinateOverlay {
  position: fixed;
  z-index: 105;
  top: 0; right: 0; bottom: 0; left: 0;

  background: rgba(0,0,0,.5);
  cursor: pointer;
}

.navinate-toggle,
.menus-nav-toggle {
  color: @colour-neutral-lighter;
  height: 50px;
  width: 50px;
  display: block;
  vertical-align: middle;
  text-align: center;
  float: right;

  .transition(all .5s);

  &:before {
    .font-size(30);
    line-height: inherit;
  }

  &.is-expanded {
    .box-shadow(inset 3px 3px 8px rgba(0,0,0,.3));
  }
}

.menus-nav-toggle {
  background: @colour-tertiary;
  position: absolute;
  bottom: 0px;
  right: -50px;
}

.portable-menus-nav {
  position: fixed;
  z-index: 109;
  top: 0px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  body.admin-menu & { top: 29px; }

  .transition(all .25s);

  > .grid__cell {
    &:before {
      display: none;
    }

    overflow: auto;
    height: 100%;

    margin: 0;
    padding: 0;

    .nav {
      margin: 0;
    }

    > .box__inner {
      height: 100%;
    }
  }
}

.portable-nav {
  overflow: auto;
  position: fixed;
  z-index: 109;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  body.admin-menu & { top: 29px; }
  background: url(../images/aside_texture.jpg);

  text-align: center;

  .transition(all .25s);

  > .grid__cell {
    margin: 0;
    padding: 0;

    .nav {
      margin: 0;

      > .nav__item {
        > a {
          .font-size(20);
          display: block;
          .padding(vertical, .5);
          font-family: @headings-font-family;

          color: @colour-neutral-lighter;
        }

        border-bottom: 1px dashed @colour-neutral-lighter;
      }
    }
  }
}

#footer-bottom {
  text-align: center;
}

.box--menu-block-gk-core-footer-menu {
  .nav {
    > .nav__item {
      float: none;
      .inline-block();
    }
  }
}

#gk-locations-search-form {
  #edit-search {
    > .form-item__toggle {
      position: absolute;
      top: 0;
      right: 0;
      .margin(top);
      .margin(right);
    }

    > h1 {
      text-align: left;
      margin-top: 0;
      .margin(bottom, .5);
    }
  }
}

.box--gk-members-gk-members-user {
  margin: 0;
  padding: 0;

  color: #dedede;
  height: 50px;
  width: 50px;
  display: block;
  vertical-align: middle;
  text-align: center;
  float: right;
  .transition(all .5s);

  &.box--expanded > .box__inner > .box__content > a {
    .box-shadow(inset 3px 3px 8px rgba(0,0,0,.3));
  }

  > .box__inner > .box__content {
    > a {
      display: block;
      height: 50px;
      width: 50px;
      background: @colour-tertiary;
      text-indent: -9999px;
      float: right;
      .transition(all .25s);

      position: relative;
      &:before {
        background: none;
        font-family: 'FontAwesome';
        content: "\f007";
        .font-size(30);
        line-height: inherit;
        width: 50px;
        height: 50px;
        text-indent: 0;
        text-align: center;
        color: @colour-quaternary-light;
        float: left;
        margin-top: 3px
      }
    }

    > #user-login-form {
      background: @colour-tertiary;
      .box-shadow(2px 2px 0px 2px rgba(0,0,0,.25));

      position: fixed;
      z-index: 112;
      top: 60px;

      .admin-menu & {
        margin-top: 29px;
      }

      right: 10px;
      left: 10px;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 4px;
        left: 4px;
        bottom: 4px;
        top: 4px;
        border: 2px dotted @colour-quaternary-light;
        z-index: -1;
      }

      > div {
        .padding(vertical, .5);
        .padding(horizontal, .5);
        .clearfix();

        > ul {
          display: none;
        }

        > .form-item {
          width: 100%;
          margin: 0;

          .form-text { border-color: @colour-neutral; }
        }

        > .form-actions {
          > .form-submit {
            .button-dashed--primary();
            .padding(horizontal, .4);
            .font-size(15);
            .margin(top, .3);
          }
        }
      }
    }
  }
}

.box--hh-thank-you-for-signing-up {
  text-align: center;
  color: #fff;
  border-width: 10px;
  background: #fff;

  > .box__inner {
    background: #c1d5d3;
    .padding(all);

    > .box__title,
    > .box__title--additional,
    > .box__content {
      margin-left: auto;
      margin-right: auto;
    }

    > .box__title {
      border: 0;
      padding-bottom: 0;
      color: #fff;
      .margin(bottom, .5);
      font-weight: 900;
      letter-spacing: 1px;
      text-shadow: 2px 3px 0 rgba(0,0,0,.8);
      .font-size(36);
      margin-bottom: 0;
    }

    > .box__title--additional {
      .margin(bottom, .6);
      margin-top: 0;
      color: #fff;
      .font-size(26);
      text-transform: uppercase;
      letter-spacing: 1px;
      text-shadow: 1px 2px 0 rgba(0,0,0,.8);
    }

    > .box__content {
      .wonky-borders();

      > .box__content-inner {
        .padding(all);
        background: #80a6b0;

        > p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.box--hh-thank-you-for-signing-up-goldcard {
  .border-image(url(../images/scribbled_border_orange.png) 13 13 round);

  > .box__inner {
    background: @colour-quinary-dark;

    > .box__content {
      > .box__content-inner {
        background: @colour-quinary-darker;
      }
    }
  }
}

.box--promotion-saddle-up {
  margin-top: 85px;
}

#mix--match-buckets {
  > .box__inner {
    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      > .box__inner {
        padding-top: 65px;
      }
    }

    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      position: relative;
      &:before {
        top: 0;
        left: 15px;
      }
    }
  }
}

.promotion-group--rotw-landscape {
  .element-invisible();
}

.tabset {
  .tabset__nav {
    > li {
      .margin(bottom, .4);
      margin-right: 0;
      text-align: center;
      width: 100%;
    }
  }
}

.items--articles,
.items--events {
  .node {
    text-align: center;
  }
  .node__content {
    text-align:center;
    .field-name-field-article-image,
    .field-name-field-event-image {
      .inline-block();
      float: none;
    }
  }
}

.node--event {
  .item__date--short {
    .inline-block();
    width: auto;
  }
}
