.affiliates {
  > li {
    .margin(right);

    > .affiliate {
      display: block;
      width: 68px;
      height: 35px;
      text-indent: -9999px;

      background: url(../images/sprite.png) no-repeat;

      &.affiliate--enjoy-responsibly { background-position: -600px -150px; }

      .transition(all .2s);
      &:hover {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
      }
    }
  }
}
