.box--well {
	.border-radius(10px);
	.padding(horizontal);

	background-color: @colour-quaternary-lighter;
	border: 2px dotted @colour-primary;
  color: @colour-secondary-dark;
  font-family: @headings-font-family;

  h3 {
    color: @colour-secondary-dark;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.box--no-shadow {
  &:before {
    display: none;
  }
}

.box--gk-core-copyright {
  .box__content {
    .footer-text();
    .font-size(12);
  }
}

.box--gk-contact-gk-contact-details,
.box--gk-locations-gk-locations-info,
.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-facilities {
  .wonky-borders--box();

  > .box__inner {
    background: url(../images/aside_texture.jpg);

    > .box__title {
      .padding(horizontal, .65);
      .padding(top);
      color: @colour-quaternary-lighter;
      text-transform: uppercase;

      text-shadow: 1px 1px 1px rgba(0,0,0,.25);
      .font-size(18);
      font-weight: 800;
      line-height: 1;

      text-align: left;

      .margin(bottom);
    }
  }
}

.box--gk-menus-gk-menus-navigation,
.box--gk-menus-gk-menus-current-location,
.box--gk-events-gk-events-types,
.box--gk-events-gk-events-related,
.box--gk-articles-gk-articles-categories,
.box--gk-articles-gk-articles-related,
.box--menu-block-gk-members-user-menu,
.box--gk-locations-gk-locations-info,
.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-facilities {
  .wonky-borders--box();

  > .box__inner {
    background: url(../images/aside_texture.jpg);

    > .box__title {
      .padding(horizontal, .65);
      .padding(top);
      color: @colour-quaternary-lighter;
      text-transform: uppercase;

      text-shadow: 1px 1px 1px rgba(0,0,0,.25);
      .font-size(22);
      font-weight: 800;
      line-height: 1;

      .margin(bottom);
    }

    > .box__content > :last-child {
      .padding(bottom);
    }
  }
}

.box.box--gk-menus-gk-menus-current-location {
  .margin(bottom);

  > .box__inner {
    .padding(all);

    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      content: " ";
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;

      border: 1px dashed @colour-quaternary-lighter;
      .border-radius(8px);
      z-index: -2;
    }
  }
}

.box--gk-locations-gk-locations-search-form {
  .box__inner {
    background: #fff;
    .padding(all);
  }
}

// Common between all secondary blocks
.secondary-inner-content() {
  .padding(horizontal, .65);
  .padding(vertical, .5);
  .margin(bottom);
  background: url(../images/aside_texture_highlight.jpg);
  color: @colour-quaternary-lighter;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);

  &:last-child {
    margin-bottom: 0;
  }
}

.box--gk-events-gk-events-types,
.box--gk-events-gk-events-related,
.box--gk-articles-gk-articles-categories,
.box--gk-articles-gk-articles-related {
  > .box__inner {
    > .box__content {
      > .navigation__items {
        .secondary-inner-content();

        > li {
          list-style-type: none;

          > a {
            color: @colour-quaternary-lighter;

            &:hover {
              color: @link-colour-hover;
            }
          }
        }
      }
    }
  }
}

.box--gk-locations-gk-locations-info,
.box--gk-locations-gk-locations-contact,
.box--gk-locations-gk-locations-times,
.box--gk-locations-gk-locations-facilities {
  > .box__inner {
    position: relative;
    .font-size(15);
    line-height: 1.2;

    .location__info {
      text-align: center;
    }

    .box__title {
      text-align: left;
    }

    .location__name,
    .location__address,
    .location__opening-hours,
    .location__food-hours,
    .location__contact,
    .location__facilities {
      .secondary-inner-content();
      text-align: left;
    }

    .location__name,
    .location__address > h4,
    .location__contact > h4,
    .location__opening-hours > h4,
    .location__food-hours > h4 {
      text-transform: uppercase;
      .font-size(17);
    }

    .location__address,
    .location__contact,
    .location__opening-hours,
    .location__food-hours {
      > h4 {
        margin-top: 0;
        color: @colour-quaternary-lighter;
      }
    }

    .location__name {
      margin-top: 0;

      > a {
        color: @colour-quaternary-lighter;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .location__contact {
      .location__email {
        > a {
          color: @colour-quaternary-lighter;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .location__facilities {
      .padding(left);

      > .location__facility {
        list-style-type: circle;
      }
    }
  }
}

.box--gk-locations-gk-locations-info {
  > .box__inner {
    &:before {
      content: " ";
      position: absolute;
      width: 77px;
      height: 80px;
      background: url(../images/sprite.png) -600px 0px no-repeat;
      top: -24px;
      right: -28px;
    }

    .box__title {
      padding-top: 55px;
    }

    .location__address {
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        width: 30px;
        height: 40px;
        background: url(../images/sprite.png) -300px -150px no-repeat;
        top: -10px;
        right: 10px;
      }
    }

    .location__contact {
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        width: 30px;
        height: 25px;
        background: url(../images/sprite.png) -350px -150px no-repeat;
        top: -10px;
        right: 10px;
      }
    }

    .location__opening-hours,
    .location__food-hours {
      position: relative;
      &:before {
        content: " ";
        position: absolute;
        width: 30px;
        height: 25px;
        background: url(../images/sprite.png) -400px -150px no-repeat;
        top: -12px;
        right: 10px;
      }
    }
  }
}

.box--gk-contact-gk-contact-details {
  > .box__inner {
    position: relative;
    .font-size(15);
    &:before {
      content: " ";
      position: absolute;
      width: 75px;
      height: 75px;
      background: url(../images/sprite.png) -500px 0px;
      top: -24px;
      right: -15px;
    }

    > .box__title {
      padding-top: 65px;
    }

    .box__content {
      > .contact__address {
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          width: 30px;
          height: 25px;
          background: url(../images/sprite.png) -350px -150px no-repeat;
          top: -10px;
          right: 10px;
        }
        .secondary-inner-content();
        font-style: normal;
      }
    }
  }
}

.box--promotion-text,
.box--hh-core-hh-news-events {
  .wonky-borders--box();
}

.box--hh-core-hh-news-events {
  > .box__inner {
    .padding(horizontal);
    .padding(vertical);
    background: #fff url(../images/notepad_texture.jpg);

    position: relative;
    overflow: hidden;
    z-index: 1;
    &:before {
      content: " ";
      position: absolute;
      width: 150px;
      height: 290px;
      background: url(../images/sprite.png) 0px -300px no-repeat;
      top: 50px;
      right: -55px;
      z-index: -1;
    }

    > .box__title {
      margin-top: 0;
      text-transform: uppercase;
      .font-size(28);
      line-height: 1;

      border-bottom: 2px dotted;
      .padding(bottom, .5);
      .margin(bottom, .5);
    }

    > .box__content {
      > .items--news-and-events > .node {
        > h3,
        .node__content > .field-name-field-event-date,
        .node__content > .field-name-field-article-categories {
          .element-invisible;
          display: none;
        }

        > .node__content {
          .font-size(15);
          line-height: 1.2;

          > .field-type-image {
            .padding(all, .2);
            border: 1px solid @colour-neutral-light;
            .margin(bottom, .5);

            width: 100%; // Trident, Moz

            > .field-items > .field-item > img {
              .max-width();
              vertical-align: bottom;
            }
          }
        }

        > .list--inline {
          margin-bottom: 0;

          > .node-readmore {
            display: block;
            text-align: right;

            > a {
              color: @colour-primary;
              .headings-font-family();

              &:after {
                content: " ";
                width: 20px;
                height: 20px;
                background: url(../images/sprite.png) -350px -100px no-repeat;
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
              }

              &:hover:after {
                background-position: -300px -100px;
              }
            }
          }
        }
      }
    }
  }
}

.box--gk-contact-form-enquiry {
  .wonky-borders(8, -8, -8, 4);

  .margin(bottom);

  > .box__inner {
    .padding(all);
    background: url(../images/notepad_texture.jpg);
    border: 1px solid @colour-neutral-lighter;
  }
}

.box--gk-contact-form-contact {
  > .box__inner {
    .padding(all);
    background: @colour-quaternary-lighter;
    border: 2px dotted @colour-primary;
    .border-radius(8px);
  }
}

.box--gk-menus-gk-menus-menu {
  > .box__inner {
    > .box__content {
      > .box--menu-section {
        .wonky-borders();
        .margin(bottom);

        &:last-child {
          margin-bottom: 0;
        }

        &:first-child  > .box__inner {
          margin-top: 50px;
        }

        > .box__inner {
          .padding(all);
          background: #fff;
          -moz-background-clip: padding;     /* Firefox 3.6 */
          -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
          background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
          margin-top: @base-gutter-width + 50px;

          position: relative;

          &:before {
            content: " ";
            position: absolute;
            top: -50px;
            right: 0;
            left: 0;
            height: 50px;
            border-color: #fff;
            border-width: 54px 110px;
            .border-image(url(../images/bite-mark-1000px.png) 50 100 repeat);

            overflow: hidden;
            z-index: -1;
          }

          > .box__title {
            .page-title();

            text-align: center;
            text-transform: uppercase;

            margin-top: -50px;
          }
        }
      }
    }
  }
}

.mosaicflow__column {
  .clearfix();
  float: left;

  > .box {
    width: 100%;
    .margin(bottom);
  }
}

.box--gk-locations-gk-locations-search-results-map {
  .wonky-borders--box();

  > .box__inner {
    border-color: @colour-primary-darker;
    border-width: 15px;
    .border-image(url(../images/scribbled_border_maroon.png) 13 13 round);
    background: #fff;
  }
}

.box--gold-card-join-today {
  .box__inner {
    > .box__title {
      .font-size(30);
      .margin(bottom);
    }
  }
}

.box--gold-card-ctas {
  > .box__inner {
    > .box__content {
      text-align: center;

      > a {
        margin: 0 20px;
      }
    }
  }
}

.box--hh-goldcard-hh-goldcard-members-area {
  #gold-card-register {
    display: block;
    text-align: center;
    margin: 20px 0;
  }

  #gold-card-balance {
    width: 197px;
    height: 83px;
    text-align: center;
    font-family: @headings-font-family;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 3px 4px 0 rgba(0,0,0,.8);
    .font-size(72);
    line-height: 1.2;
    margin: 20px auto;
    background: url('../images/hh-goldcard-balance-bg.png');
    position: relative;

    &:before {
      position: absolute;
      content: " ";
      top: 15px;
      left: -200px;
      width: 185px;
      height: 50px;
      background: url('../images/hh-goldcard-balance-annotation.jpg');
    }
  }
}

.box--gold-card-scheme-benefits,
.box--member-benefits {
  .box__inner {
    .border-radius(10px);
    border-color: @colour-quaternary-lighter;
    border-width: 15px 15px;
    .border-image(url(../images/primary_nav_bg.png) 15 15 stretch);
    -moz-background-clip: padding;     /* Firefox 3.6 */
    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
    background-clip: padding-box;
    background-color: @colour-quaternary-lighter;
    .padding(vertical, .5);
    .padding(left, .85);
    .padding(right);

    position: relative;
    z-index: 1;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      border: 2px dotted @colour-tertiary;

      top: -23px;
      right: 6px;
      bottom: -23px;
      left: 6px;

      .border-radius(10px);
      transform: rotate(1deg);
      -ms-transform: rotate(1deg); /* IE 9 */
      -webkit-transform: rotate(1deg); /* Safari and Chrome */

      z-index: -1;
    }

    > .box__title,
    > .box__content > h2 {
      .font-size(16);
      text-transform: uppercase;
      font-weight: 700;
      color: @base-font-colour;
      margin-top: 0;
      .margin(bottom, .5);
    }

    > ul.box__content,
    > .box__content > ul {
      .padding(left, .85);
      margin-bottom: 0;

      > li {
        .font-size(15);
        list-style-type: none;
        .padding(left, 1.6);
        .padding(vertical, .2);
        .margin(top, .25);

        position: relative;
        &:before {
          content: " ";
          position: absolute;
          top: 5px;
          left: 0;
          width: 30px;
          height: 25px;
          background: url(../images/sprite.png) -650px -100px no-repeat;
        }
      }
    }
  }
}

.box--gold-card-scheme-rewards {
  .box__inner {
    position: relative;
    z-index: 0;
    .padding(vertical, .5);

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 60px;
      left: 60px;
      bottom: 0;
      z-index: -1;

      .border-radius(10px);
      border-color: @colour-quaternary-lighter;
      border-width: 15px 15px;
      .border-image(url(../images/primary_nav_bg.png) 15 15 stretch);
      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;
      background-color: @colour-quaternary-lighter;

      transform: rotate(-2deg);
      -ms-transform: rotate(-2deg); /* IE 9 */
      -webkit-transform: rotate(-2deg); /* Safari and Chrome */
    }

    &:after {
      content: " ";
      display: block;
      position: absolute;
      border: 3px dotted @colour-primary;

      top: 5px;
      right: 0;
      bottom: 5px;
      left: 0;

      .border-radius(10px);

      z-index: 1;
    }

    > .box__content {
      text-align: center;
      > img {
        .margin(right, .45);
        &:last-child { margin-right: 0; }
      }
    }
  }
}

.box--gk-members-gk-members-user {
  #user-login-form {
    display: none;
  }
}
