.branding {
  > a {
    .inline-block();
  }

  .branding__logo {
    float: none;
    margin-right: 0;
    vertical-align: bottom;
  }

  .branding__logo {
    transition: transform .4s;
    -moz-transition: -moz-transform .4s;
    -webkit-transition: -webkit-transform .4s;
    -ms-transition: -ms-transform .4s;
  }
}
