.cookies {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(../images/footer_texture.jpg);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  z-index: 9999;

  > .container__inner {
    .padding(bottom);
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;

    width: 100%;
    height: 10px;

    top: -10px;
    left: 0;

    background: url(../images/footer_border.png) repeat-x;
  }
}

.cookies__title {
  color: #fff;
}

.cookies__message {
  .inline-block();
  .margin(bottom);

  > :first-child,
  > :last-child {
    margin: 0;
  }
}

.cookies__options {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    .inline-block();

    > a {
      .button();

      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}
