.accordion .accordion__item:first-child .accordion__heading {
  margin-top: 0;
}

.accordion__body {
  .border-radius(12px);
  .padding(all);

  border: 1px solid @colour-primary-lighter;

  :last-child {
    margin-bottom: 0;
  }
}
