#gk-locations-search-form {
  > div {
    > .form-item--edit-location {
      .padding(all);
      background: url(../images/aside_texture.jpg);
    }
  }
}

#hh-locations-search-form {
  > div {
    position: relative;

    > .form-item__image {
      > img {
        width: 100%;
      }

      &.form-item__image--secondary {
        .element-hidden();
      }

      #secondary & {
        .element-hidden();

        &.form-item__image--secondary {
          display: inline;
        }
      }
    }

    .form-fieldset {
      border: none;
      padding: 0 30px 0 5%;
      #secondary & {
        padding-top: 0;
        padding-bottom: 0;
        .padding(horizontal, .25);
        #edit-location { padding-left: 8px; padding-right: 8px; }
      }
      margin: 0;

      position: absolute;
      bottom: 10%;

      .button-append();

      > .form-item {
        margin: 0;
      }

      > .form-submit {
        position: relative;
        z-index: 1;
      }
    }
  }
}

// Style this wherever it occurs
#edit-feedback {
  .padding(all, .5);
  background: rgba(0,0,0,.1);
}

#gk-contact-form {
  .form-item--edit-enquiry-type,
  .form-item--edit-location-nid {
    .form-item__field {
      max-width: 250px;
    }
  }

  .form-submit {
    float: right;
    .margin(top);
  }
}

#gk-locations-search-form {
  .margin(bottom);
  .margin(top, -1);
  position: relative;

  #edit-search {
    .padding(vertical);
    .padding(horizontal);
    border: 0;
    margin: 0;
    background: url(../images/aside_texture.jpg);
    .margin(horizontal, -1);
    .box-shadow(0 4px 4px rgba(0,0,0,.3));
    position: relative;
    z-index: 104;

    > .form-item__toggle {
      color: @colour-quaternary-lighter;
      text-decoration: underline;

      &:hover {
        color: @colour-quaternary-light;
      }

      display: none;

      .js & {
        display: inline;
      }
    }

    > h1 {
      text-transform: uppercase;
      .font-size(26);
      font-weight: 900;
      color: @colour-quaternary-lighter;
      padding: 0;
      border: 0;
    }

    .button-append();

    > .form-item {
      margin: 0;
    }

    > .form-item > .form-item__field > input,
    > .form-submit {
      border-color: @colour-neutral-darker;
    }
  }

  #edit-advanced-search {
    .js & {
      .wonky-borders(5);

      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 105;
    }

    .form-item__toggle {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      .margin(all, .5);
      .padding(horizontal, .2);
      border: 1px dashed @colour-quaternary-lighter;
      color: @colour-quaternary-lighter;

      &:hover {
        color: @colour-quaternary-lighter;
        border-color: @colour-quaternary-lighter;
      }
    }

    padding: 0;
    border: 0;

    > div {
      .padding(all);
      .box-shadow(0 -4px 4px rgba(0,0,0,.3));

      .no-js & {
        .margin(horizontal, -1);
        .box-shadow(~"inset 0 -4px 4px rgba(0,0,0,.3), 0 4px 4px rgba(0,0,0,.2)");
      }

      .gradient(darken(@colour-secondary-darker, 5%), @colour-secondary-darker, vertical);

      > .form-item--edit-facilities {
        .clearfix();
        margin-bottom: 0;

        > .form-item__label {
          color: @colour-quaternary-lighter;
          .font-size(17);
          text-align: right;
        }

        .form-item__field {
          margin: 0;

          .form-item--checkbox {
            float: left;
            width: 50%;
            .padding(right, .65);
            margin-top: 0;
            margin-bottom: 0;

            > .form-item__field {
              margin: 0;

              > label {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

#gk-rewards-user-details-form {
  clear: both;
  .margin(top, 3.5);
  position: relative;

  .wonky-borders();

  &:after {
    background: url(../images/sprite.png) -750px -550px no-repeat;
    content: " ";
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -91px;
    position: absolute;
    top: -40px;
    width: 183px;
    z-index: 20;
  }

  > div {
    .padding(horizontal, 1.5);
    .padding(bottom);
    .padding(top, 3);
    background: url(../images/aside_texture.jpg);
  }

  .form-item__label,
  .form-item__label--option {
    color: @colour-quaternary-lighter;

    > .is-required {
      color: @colour-secondary-light;
    }
  }

  .form-actions {
    .margin(top, 2);

    clear: both;
    position: relative;
  }
}

.box--gk-rewards-gk-rewards-login-create-account,
.box--hh-goldcard-hh-goldcard-existing-givex-user {
  .wonky-borders--box();

  > .box__inner {
    background: @colour-secondary-darker;
    color: #fff;
    .padding(all);

    position: relative;
    z-index: 1;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      border: 2px dotted @colour-quaternary-lighter;

      top: 8px;
      right: 8px;
      bottom: 8px;
      left: 8px;

      .border-radius(10px);

      z-index: -1;
    }

    > .box__content {
      > form {
        text-align: center;
      }

      > #gk-rewards-create-account-form {
        > div {
          padding-top: 60px;
          position: relative;
          &:before {
            content: " ";
            position: absolute;
            left: 50%;
            margin-left: -140px;
            top: 0;
            background: url(../images/sprite.png) 0px -700px no-repeat;
            width: 280px;
            height: 50px;
          }

          > p,
          .password-strength {
            .element-invisible();
          }
        }
      }

      > #user-login {
        > div {
          text-align: right;

          > p {
            text-align: center;
          }

          > a {
            color: #fff;

            &:hover {
              text-decoration: underline;
            }
          }

          > .form-actions {
            .margin(top, .5);
          }
        }
      }
    }
  }
}

#user-profile-form {
  > div {
    > fieldset {
      border: 2px dotted @colour-primary-dark;
      background: @colour-neutral-lighter;
      .padding(all, .5);
      .border-radius(10px);

      > legend {
        color: @colour-quaternary-lighter;
        .padding(horizontal, .5);
        .padding(vertical, .2);
        margin: 0 auto;
        background: @colour-secondary;
        .box-shadow(3px 2px 1px rgba(0,0,0,.35));
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
        .headings-font-family();
        font-weight: 400;
      }

      .form-item--password_confirm {
        .password-strength {
          .element-invisible();
        }
      }

      .field-type-datetime {
        > div {
          > fieldset {
            border: 0;
            padding: 0;

            > legend {
              font-weight: 400;
              .font-size(19);
              padding-left: 5px;
              padding-bottom: 5px;
            }
          }
        }
      }

      .fieldset__help {
        .font-size(18);
      }
    }
  }
}

.box--gk-menus-gk-menus-current-location .box__content {
  .gk-menus-current-location {
    color: @colour-quaternary-lighter;
    text-align: center;

    > a {
      color: @colour-quaternary-lighter;
      text-decoration: underline;

      &:hover {
        color: @colour-tertiary-light;
      }
    }
  }

  #gk-menus-choose-location-form {
    padding: 0;
  }

  .form-item--edit-location {
    margin: 0;

    > .form-item__label {
      .element-invisible();
    }
  }
}


// christmas enquiry page
.gk-hh-christmas-enquiry-page {
  img {
    max-width: 100% !important;
    height: auto;
    width: auto\9; /* ie8 */
  }

  .box--block--gk-hh-christmas-enquiry-top-main {
    text-align: center !important;

    > img {
      .margin(horizontal, 0);
    }
  }

  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-top-half,
  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-bottom-half,
  .box--block--gk-hh-christmas-enquiry-middle-right-sidebar {
    text-align: center !important;

    img {
      float: none;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  // hide this for all devices (its switched on for desk)
  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-top-half,
  .box--block--gk-hh-christmas-enquiry-top-right-sidebar-bottom-half {
    display: none;
  }

  .gk-hh-christmas-enquiry-top-main-text {
    padding-left: 0;
    padding-right: 0;

    p {
      padding-right: 0;
    }
  }

  .gk-webform--hh-booking-enquiries-form {
    .webform-container-inline div,
    .webform-container-inline div.form-item {
      display: block;

      .closed .selecter-options {
        display: none;
      }
    }

    .webform-component--title {
      margin-bottom: 1.5rem;
    }

    // space beneath webform-component--location
    .webform-component--location {
      .margin(bottom, 1);
    }

    // hide Location Email Address on booking enquiry contact form
    .webform-component--location-email-address {
      display: none;
    }

    .form-actions {
      text-align: left;
    }

    // move submit button up above bottom offers
    input[type="submit"] {
      margin-left: 0;
    }

  }

  .box--block--gk-hh-christmas-enquiry-bottom-image-1,
  .box--block--gk-hh-christmas-enquiry-bottom-image-2,
  .box--block--gk-hh-christmas-enquiry-bottom-image-3 {
    text-align: center !important;
    margin-left: 0;
  }

}
