.node {
  .field.field-label-inline {
    > .field-label {
      .inline-block();
    }

    > .field-items {
      .inline-block();
    }
  }
}

.node--article {
  .field-name-field-article-categories {
    .font-size(15);
    .margin(bottom, .5);
  }
}

.node--event {
  .item__date--short {
    .padding(horizontal, .25);
    position: relative;
    z-index: 2;
    text-align: center;

    > span {
      display: block;
      background: @colour-secondary-dark;
      .padding(horizontal, .5);
      .padding(vertical, .25);
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      text-shadow: 2px 2px 1px rgba(0,0,0,.8);
      .font-size(22);
      .box-shadow(3px 2px 1px rgba(0,0,0,.8));
    }
  }
}

.items--news-and-events {
  .field-item > a > img {
    .max-width();
  }
}

.items--events {
  .node__content {
    margin-top: -30px;

    &.no-image {
      margin-top: 0;
    }
  }
}

.items--articles,
.items--events {
  .node {
    text-align: right;
    .clearfix();

    .margin(bottom, .5);
    .padding(bottom, .5);
    border-bottom: 2px dotted @colour-primary;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .item__date {
      .font-size(15);
      .margin(bottom, .5);
      font-style: italic;
      color: @colour-neutral-light;
    }

    .field-type-taxonomy-term-reference {
      .margin(bottom, .5);
    }

    .list--inline {
      display: inline;
    }

    .node-readmore > a {
      .button-dashed--primary();
    }
  }

  .node__content {
    text-align: left;
    .clearfix();

    > h3 {
      margin-top: 0;

      > a {
        color: @colour-neutral-light;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .field-name-field-article-image,
    .field-name-field-event-image {
      .wonky-borders();
      float: left;
      .margin(bottom, .5);

      .field-items > .field-item > a { display: block; }
      .field-items > .field-item > a > img,
      .field-items > .field-item > img { vertical-align: bottom; .max-width(); }
    }
  }
}
