.section-locations {
  #page-title {
    text-transform: uppercase;
  }
}

.section-pubs #primary #content-top .box__inner,
.section-pub-search #content-top .box__inner {
  padding: 0;
}

.section-pub-search #gk-locations-search-form {
  margin-bottom: 72px;

  .form-item--edit-location {
    position: relative;
    &:before {
      content: " ";
      width: 340px;
      height: 50px;
      position: absolute;
      bottom: -92px;
      left: 55%;
      background: url(../images/sprite.png) -600px -400px no-repeat;
    }
  }
}

.locations-list {
  > .box--order-by-links {
    text-align: right;

    .margin(bottom, 1.5);


    .box__content {
      &:before {
        content: "Sort by:";
        .font-size(18);
      }

      > a {
        .inline-block();
        .margin(left, .5);

        .button-dashed();
        .button-dashed--secondary();
      }
    }
  }
}

.locations-list--by-letter {
  > .box--location-list-group {
    margin-bottom: 0;

    > .box__inner {
      .padding(bottom, 1.25);
      .padding(top, .5);
      border-top: 1px dashed @colour-quaternary;

      &:hover > .box__title {
        color: @colour-secondary;
      }

      .clearfix();

      > .box__title {
        .font-size(85);
        color: @colour-primary;
        text-shadow: 3px 2px 0 rgba(0,0,0,.8);
        font-weight: 900;

        display: block;
        float: left;
        width: 15%;

        .transition(.2s color);
      }

      > .box__content {
        display: block;
        width: 85%;
        .padding(top, .85);
        margin-bottom: 0;

        .column-count(2);

        > li {
          list-style-type: none;

          > a {
            color: @base-font-colour;
            .font-size(18);

            &:hover {
              text-decoration: underline;
              color: @link-colour-hover;
            }

            &:active {
              color: @link-colour-active;
            }
          }
        }
      }
    }
  }
}

.locations-list--by-location {
  > .box--locations-list-group {
    .margin(bottom, .75);

    > .box__inner {
      .padding(top, .5);
      border-top: 1px dashed @colour-quaternary;

      > .box__title {
        .font-size(40);
        text-shadow: 1px 1px 0 rgba(0,0,0,.5);
      }

      > .box__content {
        display: block;
        margin-bottom: 0;

        .box--locations-list-locality {
          float: left;
          width: 50%;

          > .box__title {}

          > .box__content {
            padding-left: 0;

            > li {
              list-style-type: none;

              > a {
                color: @base-font-colour;
                .font-size(18);

                &:hover {
                  text-decoration: underline;
                  color: @link-colour-hover;
                }

                &:active {
                  color: @link-colour-active;
                }
              }
            }
          }
        }
      }
    }
  }
}

.box--gk-locations-gk-locations-search-results-list {
  .wonky-borders--box();

  .box__inner {
    .padding(horizontal);
    .padding(vertical);
    background: #fff;
    border: 1px solid @colour-neutral-lighter;

    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      content: " ";
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;

      border: 2px dotted @colour-primary;
      .border-radius(8px);
      z-index: -2;
    }

    > .box__title {
      .font-size(28);
    }
  }
}

.location-search-results {
  > .location-search-results__list-item {
    .clearfix();
    .padding(all, .65);
    border: 1px solid @colour-neutral-lighter;
    .border-radius(14px);
    .margin(bottom, .75);
    &:last-child { margin-bottom: 0; }

    > .location-search-results__title > a {
      .font-size(18);
      color: @colour-primary-dark;
      &:hover { color: @colour-secondary-dark; }
    }

    > .location-search-results__cta {
      .font-size(14);
      .margin(top, .3);
      .padding(vertical, .1);
      .padding(horizontal, .5);
    }

    &:first-child > .location-search-results__cta {
      .button-dashed--primary();
    }
  }
}

.location__default-image {
  .margin(bottom);
  .wonky-borders(8, -8, -8, 10);

  > img {
    display: block;
  }
}

.field-name-field-location-geo, {
  .wonky-borders();

  > .field-items {
    border-color: @colour-primary-darker;
    border-width: 15px;
    .border-image(url(../images/scribbled_border_maroon.png) 13 13 round);
    background: #fff;
  }
}
