.section-menus {
  #primary {
    &:before {
      display: none;
    }

    > .inner {
      background: none;
      padding: 0;
    }

    .node {
      .wonky-borders();

      .node__content {
        .padding(all);
        background: #fff;

        .field-item > p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  #content-header {
    background: #fff;
    padding: 0;
    margin: 0;

    #page-title {
      padding: 0;
      margin: 0;
    }
  }

  #content-top {
    z-index: 1;
    position: relative;
  }
}

// Mixins to get positions (and dimensions if applicable) of legend keys for both key and menu items.
.no-gluten-containing-ingredients() {
  background-position: -900px -100px;
  width: 22px;
  height: 22px;
}
.suitable-for-vegetarians() {
  background-position: -950px 0px;
  width: 22px;
  height: 22px;
}
.n2-for-£849() {
  background-position: -950px -350px;
  width: 48px;
  height: 32px;
}
.dishes-under-600-calories()  {
  background-position: -950px -50px;
  width: 22px;
  height: 22px;
}
.may-contain-bones-or-shell() {
  background-position: -900px -50px;
  width: 22px;
  height: 23px;
}
.served-on-a-sizzling-skillet() {
  background-position: -967px -305px;
  width: 26px;
  height: 23px;
}
.cocktail-glass() {
  background-position: -250px -950px;
  width: 28px;
  height: 28px;
}
.cocktail-pitcher() {
  background-position: -250px -900px;
  width: 28px;
  height: 23px;
}

.box--gk-menus-gk-menus-key {
  > .box__inner {
    .box__content {
      > ul {
        padding: 0;

        > li {
          list-style-type: none;
          padding-left: 50px;
          .padding(right, .2);
          .font-size(15);
          .margin(bottom, .65);
          &:last-child { margin-bottom: 0; }

          position: relative;
          &:before {
            content: " ";
            position: absolute;
            top: 2px;
            left: 13px;
            background-image: url(../images/sprite.png);
          }

          &.no-gluten-containing-ingredients:before { .no-gluten-containing-ingredients(); }
          &.suitable-for-vegetarians:before         { .suitable-for-vegetarians(); }
          &.n2-for-£849:before                      { .n2-for-£849(); top: -5px; left: 0; }
          &.dishes-under-600-calories:before        { .dishes-under-600-calories(); }
          &.may-contain-bones-or-shell:before       { .may-contain-bones-or-shell(); }
          &.served-on-a-sizzling-skillet:before     { .served-on-a-sizzling-skillet(); }
          &.cocktail-glass:before                   { .cocktail-glass(); }
          &.cocktail-pitcher:before                 { .cocktail-pitcher(); }
        }
      }
    }
  }
}

.box--menu-item {
  // Remove grid cell widths when Mosaic is handling this.
  .mosaicflow__column & {
    width: 100%;
    .margin(bottom);
  }

  > .box__inner {
    .padding(all, .5);
    border: 1px solid @colour-neutral-lighter;
    .border-radius(8px);
    .clearfix();

    > .box__title {
      .font-size(18);
      font-weight: normal;
      color: @colour-primary-dark;
    }

    > .menu-item__price {
      .font-size(19);
    }

    > .box__content {
      clear: both;

      > .menu-item__description {
        .margin(bottom, .5);
        .font-size(15);
        line-height: 1.3;
      }

      > .menu-item__terms {
        padding-left: 0;
        margin-bottom: 0;
        float: left;

        > li {
          text-indent: -9999px;
          list-style-type: none;
          background-image: url(../images/sprite.png);
          .inline-block();
          .margin(right, .25);
          vertical-align: middle;

          &.no-gluten-containing-ingredients {.no-gluten-containing-ingredients(); }
          &.suitable-for-vegetarians         { .suitable-for-vegetarians(); }
          &.n2-for-£849                      { .n2-for-£849(); }
          &.dishes-under-600-calories        { .dishes-under-600-calories(); }
          &.may-contain-bones-or-shell       { .may-contain-bones-or-shell(); }
          &.served-on-a-sizzling-skillet     { .served-on-a-sizzling-skillet(); }
          &.cocktail-glass                   { .cocktail-glass(); }
          &.cocktail-pitcher                 { .cocktail-pitcher(); }

          // Wine stuff
          @wine-background-position-x: 0px;
          &.wine-type {
            background-image: url(../images/sprite.png);
            width: 20px;
            height: 20px;

            &.wine-type--white {
              &.wine-type--white-1 { background-position: @wine-background-position-x -900px; }
              &.wine-type--white-2 { background-position: @wine-background-position-x - (50*1) -900px; }
              &.wine-type--white-3 { background-position: @wine-background-position-x - (50*2) -900px; }
              &.wine-type--white-4 { background-position: @wine-background-position-x - (50*3) -900px; }
              &.wine-type--white-5 { background-position: @wine-background-position-x - (50*4) -900px; }
            }

            &.wine-type--red {
              &.wine-type--red-1 { background-position: @wine-background-position-x -900px; }
              &.wine-type--red-2 { background-position: @wine-background-position-x - (50*1) -950px; }
              &.wine-type--red-3 { background-position: @wine-background-position-x - (50*2) -950px; }
              &.wine-type--red-4 { background-position: @wine-background-position-x - (50*3) -950px; }
              &.wine-type--red-5 { background-position: @wine-background-position-x - (50*4) -950px; }
            }
          }
        }
      }

      > .fb-like {
        float: left;
      }
    }
  }

  &.menu-item--has-price .box__inner {
    > .box__title {
      padding-right: 30%;
      float: left;
      width: 100%;
    }

    > .menu-item__price {
      float: left;
      width: 30%;
      margin-left: -30%;
      text-align: right;
      .padding(left, .25);
    }
  }
}

#inferno-chicken-wing-challenge {
  .box__inner {
    .border-radius(0);
    border-color: @colour-primary-darker;
    border-width: 15px;
    .border-image(url(../images/scribbled_border_maroon.png) 15 15 round);
    background: #fff;
    .padding(all, .5);
    padding-bottom: 100px;

    background: @colour-primary-dark;
    color: #fff;

    > .box__title {
      color: #fff;
    }
  }

  position: relative;
  &:before {
    content: " ";
    width: 298px;
    height: 145px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -120px;
    background: url(../images/menu-inferno-challenge.png);
    z-index: 20;
  }
}

#mix--match-buckets {
  > .box__inner {
    color: @colour-secondary-darker;

    margin-top: 100px;

    > .box__title {
      .padding(horizontal, .8);
      .padding(top, .4);
      .padding(bottom);
      margin: 0;

      .font-size(17);

      background: #a6bbc7;
      color: @colour-secondary-darker;
    }

    > #how-many-buckets,
    > #sauce-it-up {
      > .box__inner {
        background: #b3c5cf;
      }
    }

    > #fill-your-buckets {
      > .box__inner {
        background: #a6bbc7;
      }
    }

    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      > .box__inner {
        .padding(horizontal, .8);
        .padding(vertical, .4);

        > .box__title {
          color: @colour-quaternary-lighter;
          text-shadow: 1px 1px 1px rgba(0,0,0,.3);
          .font-size(17);
        }
      }
    }

    > #how-many-buckets,
    > #fill-your-buckets,
    > #sauce-it-up {
      position: relative;
      &:before {
        content: " ";
        width: 90px;
        height: 60px;
        position: absolute;
        background: url(../images/sprite.png) -400px -300px no-repeat;
      }

      &#fill-your-buckets:before { background-position: -500px -300px; }

      &#sauce-it-up:before { background-position: -600px -300px; }

      .box__header > p {
        margin-bottom: 0;
        .font-size(15);
      }
    }

    > #how-many-buckets {
      > .box__inner {
        > .box__content {
          .box--menu-item {
            margin: 0;
            width: auto;

            > .box__inner {
              padding: 0;
              border: none;
              .clearfix();

              > .box__title {
                display: inline;
                float: none;
                width: auto;
                .padding(right, .2);
                .font-size(16);
                font-weight: 900;
                color: @colour-secondary-darker;
              }

              > .menu-item__price {
                display: inline;
                float: none;
                width: auto;
                margin: 0;
                padding: 0;
                .font-size(16);
              }
            }
          }
        }
      }
    }
  }
}

.box--gk-menus-gk-menus-key {
  .margin(top, .5);

  > .box__inner {
    border-color: @colour-secondary-light;
    border-width: 15px;
    .border-image(url(../images/scribbled_border_blue.png) 15 15 round);
    background: #fff;
    .padding(vertical, .5);

    &:before {
      content: " ";
      width: 95px;
      height: 70px;
      position: absolute;
      top: -24px;
      left: 8px;
      background: url(../images/sprite.png) -900px -200px no-repeat;
    }

    > .box__title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      .font-size(20);
      .margin(bottom, .65);
    }
  }
}
