.nav {
  .headings-font-family();
}

.menu-block-gk-core-user-menu {
  > .nav {
    margin-bottom: 0;

    > .nav__item {
      .font-size(14);
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}

#header {
  .menu-block-gk-core-main-menu {
    border-color: @colour-quaternary-lighter;
    border-width: 15px 15px;
    .border-radius(10px);
    .border-image(url(../images/primary_nav_bg.png) 15 15 stretch);
    position: relative;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      border: 2px dotted @colour-tertiary;

      top: -23px;
      right: 6px;
      bottom: -23px;
      left: 6px;

      .border-radius(10px);
      transform: rotate(-1deg);
      -ms-transform: rotate(-1deg); /* IE 9 */
      -webkit-transform: rotate(-1deg); /* Safari and Chrome */

      z-index: 1;
    }

    > .nav {
      .clearfix();

      margin-bottom: 0;
      background: @colour-quaternary-lighter;

      > .nav__item {
        position: relative;
        z-index: 2;

        &:first-child {
          > a {
            padding-left: 0;
          }
        }

        &:last-child {
          > a {
            padding-right: 0;
          }
        }

        > a {
          color: @colour-tertiary;
          // text-shadow: 1px 1px 0px rgba(0,0,0,.1);
          font-weight: 900;
          display: block;
          text-align: center;

          .font-size(17);
          text-transform: uppercase;

          &:hover {
            color: @link-colour-hover;
          }

          &:active {
            color: @link-colour-active;
          }
        }

        &.is-active {
          > a {
            color: @colour-secondary-dark;
          }
        }
      }
    }
  }
}

#footer {
  .box--system-main-menu,
  .box--menu-menu-helpful-links {
    .box__title {
      .font-size(15);
      text-transform: uppercase;
      font-weight: 400;
      .footer-text();
    }

    .nav {
      margin-bottom: 0;

      > .nav__item {
        .margin(bottom, .1);

        > a {
          .font-size(16);
          .footer-text();

          &:hover {
            color: @link-colour-hover;
          }

          &:active {
            color: @link-colour-active;
          }
        }
      }
    }
  }
}

.box--menu-block-gk-core-footer-menu {
  .nav {
    margin-bottom: 0;

    > .nav__item {
      float: left;
      .margin(left, .2);
      .padding(left, .2);

      &:first-child {
        margin-left: 0;
        padding-left: 0;

        > a:before {
          display: none;
        }
      }

      > a {
        .font-size(12);
        .footer-text();

        &:hover {
          color: @link-colour-hover;
        }

        &:active {
          color: @link-colour-active;
        }

        display: block;
        position: relative;
        &:before {
          content: "|";
          position: absolute;
          left: -8px;
          color: @colour-quaternary-lighter;
        }
        &:hover:before {
          color: @colour-quaternary-lighter;
        }
      }
    }
  }
}

.box--gk-menus-gk-menus-navigation,
.box--menu-block-gk-members-user-menu {
  > .box__inner > .box__content > :last-child {
    padding-bottom: 0 !important;

    > .nav__item {
      &:last-child > .nav--menus {
        .padding(bottom);
      }
    }
  }
}

.box--gk-menus-gk-menus-navigation {
  .nav--menus > .nav__item > .pdf-link {
    .clearfix();
    background: url(../images/aside_texture.jpg);

    text-transform: none;
    .font-size(16);
    cursor: pointer;

    vertical-align: middle;

    &:hover {
      background: url(../images/aside_texture.jpg);
      text-decoration: underline;
    }

    &:before {
      content: " ";
      .inline-block;
      vertical-align: middle;

      background: url(../images/sprite.png) -550px -250px no-repeat;
      width: 45px;
      height: 42px;
    }
  }
}

.box--gk-menus-gk-menus-navigation .nav--menus .nav--menus .nav--menus {
  display: none;
}

.nav--menus,
.menu-block-gk-members-user-menu > .nav {
  margin-bottom: 0;

  > .nav__item {
    border-top: 1px dashed @colour-quaternary-lighter;

    > a {
      .padding(all, .65);
      display: block;
      text-transform: uppercase;
      .font-size(19);
      color: @colour-quaternary-lighter;
      text-shadow: 1px 1px 1px rgba(0,0,0,.2);

      &:hover {
        background: url(../images/aside_texture_highlight.jpg);
      }
    }

    &.is-active {
      background: url(../images/aside_texture_highlight.jpg);

      a {
        background: none;
        &:hover {
          background: none;
        }
      }
    }
  }
}

.nav--menus {
  > .nav__item {
    > .nav--menus {
      .nav__item {
        border-top: 0;
      }

      > .nav__item {
        &:first-child > a {
          .margin(top, .2);
        }

        > a {
          .padding(vertical, .2);
          .font-size(17);

          &:hover {
            color: @colour-secondary-darker;
          }
        }

        .nav--menus {
          .padding(left, .25);

          > .nav__item {
            &:first-child > a {
              margin-top: 0;
            }

            > a {
              .font-size(15);
              text-transform: none;
            }
          }
        }
      }
    }
  }
}
