.promotion {
  &.promotion--image {
    width: 100%; // Trident, Moz

    > a {
      display: block;
      > img { .max-width(); }
    }
    > img {
      .max-width();

      display: block;
    }
  }

  &.promotion--text {
    .padding(horizontal);
    .padding(vertical);
    background: #fff;

    position: relative;
    z-index: 0;
    &:before {
      position: absolute;
      content: " ";
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;

      border: 2px dotted @colour-primary;
      .border-radius(8px);
      z-index: -2;
    }

    .promotion__title {
      margin-top: 0;
      text-transform: uppercase;
      .font-size(28);
      line-height: 1;

      #secondary & {
        .font-size(20);
      }
    }

    .promotion__body {
      color: @base-font-colour;
      .font-size(15);
    }

    .promotion__cta {
      float: right;
      .margin(top, .5);
    }

    > a {
      display: block;
      .clearfix();
    }

    &.promotion--saddle-up {
      .front & {
        position: relative;
        &:after {
          position: absolute;
          content: " ";
          top: -76px;
          right: -12px;
          width: 135px;
          height: 125px;
          background: url(../images/sprite.png) 0 0 no-repeat;
        }
      }
    }

    &.promotion--hungry-for-feedback {
      &:after {
        position: absolute;
        content: " ";
        top: -9px;
        right: -18px;
        width: 74px;
        height: 50px;
        background: url(../images/bite-mark.png);
      }
    }
  }

  &.promotion--image,
  &.promotion--text {
    > a { .clearfix(); }
  }

  &.promotion--image {
    .promotion__cta {
      position: absolute;
      bottom: 7%;
      right: 5%;
    }

    // ROTW
    &.promotion--its-clucking-monday,
    &.promotion--its-tempting-tuesday,
    &.promotion--its-curry-club-wednesday,
    &.promotion--its-rib-tickling-thursday,
    &.promotion--its-fish--chip-fry-day,
    &.promotion--its-sweet-saturday,
    &.promotion--its-sunday-roast-with-no-washing-up,
    &.promotion--big-burger-deals {
      .promotion__cta {
        right: 10%;
      }
    }
  }
}

.promotion-group {
  .promotion-group__controls {
    .promotion-group__prev,
    .promotion-group__next {
      display: none;
    }

    .promotion-group__pager {
      position: absolute;
      bottom: 10px;
      left: 10px;
      z-index: 101;

      > span {
        .font-size(13);
        letter-spacing: 2px;
        color: @colour-neutral;
        line-height: 1;

        &.cycle-pager-active {
          color: @colour-quaternary-lighter;
        }
      }
    }
  }
}

.promotion-group--home-banner {
  .promotion-group__controls {
    .promotion-group__pager {
      bottom: 3%;
      left: 4%;
    }
  }
}

.promotion-group--rotw {
  .promotion-group__controls {
    .promotion-group__pager {
      bottom: 7%;
      left: 8%;
    }
  }
}

.promotion-group--rotw-landscape {
  .promotion__cta {
    right: 3% !important;
    bottom: 16% !important;
  }
}

// Big Deals
.section-big-deals #primary .box--promotion-image .box__inner {
  margin: 0 -30px;
}
