body {
  background: url(../images/footer_texture.jpg);
}

#modal-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  z-index: 109;
}

#page {
  background: url(../images/main_bg_texture.jpg);
  overflow: visible;

  &:before {
    content: " ";
    display: block;
    background: url(../images/tier_1_bg_banner_v2.png) center 0 no-repeat;
    top: 285px;
    right: 0;
    height: 500px;
    left: 0;

    position: absolute;
  }
}

#header-top {
  background: url(../images/halftone_pattern.png) repeat-x;
  overflow: visible;

  .container__inner {
    > .grid {
      padding-top: 0;
    }
  }
}

#header {
  > .container__inner {
    > .grid {
      padding-top: 0;
    }
  }
}

#main {
  // overflow: hidden; // ? commented out as not sure why this here...
  position: relative;

  > .container__inner {
    position: relative;
    .padding(bottom);

    > .grid {
      .padding(top, .5);
    }
  }
}

#primary {
  .wonky-borders--box();
  z-index: 5;

  > .inner {
    background: #fff;
    .padding(all);
  }

  .front & {
    &:before {
      display: none;
    }

    margin: 0;

    > .inner {
      background: none;
      padding: 0;
      min-height: 0;

      .tabs,
      .nav--tabs {
        margin: 0;
      }
    }
  }
}

#content {
  img {
    .max-width();
  }
}

.front {
  #top > .container__inner > .grid {
    padding-bottom: 0;
  }

  #bottom {
    > .container__inner {
      > .grid {
        .padding(bottom, 2);
      }
    }
  }
}

#footer,
#footer-bottom {
  color: @colour-quaternary-lighter;

  position: relative;
}

#footer:before {
  content: " ";
  display: block;
  position: absolute;

  width: 100%;
  height: 10px;

  top: -10px;
  left: 0;

  background: url(../images/footer_border.png) repeat-x;
}

#footer-bottom > .container__inner {
  border-top: 1px dashed @colour-quaternary-lighter;
}
