.gk-signup-reward-info {
  border-color: @colour-quaternary-lighter;
  border-width: 15px 15px;
  .border-radius(10px);
  .border-image(url(../images/primary_nav_bg.png) 15 15 stretch);
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  position: relative;
  background-color: @colour-quaternary-lighter;
  .padding(vertical, .5);
  .padding(left, .85);
  .padding(right);

  z-index: 1;

  &:after {
    content: " ";
    display: block;
    position: absolute;
    border: 2px dotted @colour-tertiary;

    top: -23px;
    right: 6px;
    bottom: -23px;
    left: 6px;

    .border-radius(10px);
    transform: rotate(1deg);
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Safari and Chrome */

    z-index: -1;
  }

  > p {
    .font-size(18);
    .headings-font-family();
    .margin(bottom, 1/2);

    font-weight: 700;
    text-transform: uppercase;
  }

  > ul {
    .padding(left, .25);

    margin-bottom: 0;

    > li {
      .font-size(15);
      padding-left: 0;
      .padding(vertical, .1);

      list-style-type: none;

      &:before {
        .inline-block();

        background: url(../images/sprite.png) -950px -150px no-repeat;
        content: ' ';
        height: 26px;
        .margin(right, .5);
        position:relative;
        top: 5px;
        width: 30px;
      }
    }
  }
}

.field-name-field-reward-body {
  .clearfix();
}
