.gk-core-slideshow {
  .margin(bottom);

  > .gk-core-slideshow__slide {
    .wonky-borders(8, -8, -8, 10);
    width: 100%; // Trident, Moz

    > img {
      .max-width();

      vertical-align: bottom;
    }
  }

  > .gk-core-slideshow__pager {
    position: absolute;
    bottom: 5%;
    left: 5%;

    > span {
      //content: ""
    }
  }
}
