.social-networks {
  > li {
    .margin(right);

    > .social-icon {
      display: block;
      width: 33px;
      height: 33px;

      background: url(../images/sprite.png) no-repeat;

      &.facebook   { background-position: -400px -100px; }
      &.twitter    { background-position: -450px -100px; }
      &.googleplus { background-position: -600px -100px; }
      &.youtube {
        background-position: -500px -100px;
        width: 54px;
      }

      .transition(all .2s);
      &:hover {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
      }
    }
  }
}

.box--hh-core-hh-social-feeds {
  .margin(bottom);

  > .box__inner {
    position: relative;
    z-index: 0;
    margin-top: 37px;
    padding: 25px 20px;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      z-index: -1;
      border-color: #33abbc;
      border-width: 50px 50px;
      .border-image(url(../images/hh-homepage-social-media-container.png) 50 50 stretch);
    }

    > .box__content {
      background: url(../images/social_media_container.jpg);

      position: relative;
      &:before {
        content: " ";
        position: absolute;
        bottom: -54px;
        right: 10px;

        background: url(../images/hh-homepage-social-media-container-tail.png) no-repeat;
        width: 43px;
        height: 47px
      }

      > .tabset {
        > .tabset__nav {
          margin: 0;
          border: 0;
          position: absolute;
          top: -57px;
          left: -19px;
          z-index: -2;

          > li {
            margin: 0;
            background: url(../images/hh-homepage-social-media-container-tab-deselected.png) no-repeat;
            &.is-active {
              background: url(../images/hh-homepage-social-media-container-tab.png) no-repeat;
            }
            width: 80px;
            height: 67px;

            > a {
              display: block;
              width: 100%;
              height: 100%;
              border: 0;
              margin: 0;
              padding: 0;
              background: none;
              position: relative;

              &:after {
                content: " ";
                position: absolute;
                width: 22px;
                height: 22px;
                top: 8px;
                left: 28px;
                background: url(../images/sprite.png) no-repeat;
              }
            }

            &.facebook > a:after {
              background-position: -500px -150px;
            }

            &.twitter > a:after {
              background-position: -550px -150px;
            }

            &.googleplus > a:after {
              background-position: -600px -100px;
            }
          }
        }
      }
    }
  }
}

.box--facebook-feed {
  > .box__inner {
    > .box__content {
      > .post {
        padding-left: 80px;

        > .post__image {
          float: left;
          margin-left: -80px;
          width: 70px;
          border: 1px solid @colour-quaternary-lighter;
          .border-radius(100%);
          overflow: hidden;
          display: block;

          > img {
            vertical-align: bottom;
            .max-width();
          }
        }

        > .post__content {
          color: @colour-quaternary-lighter;
          .font-size(15);

          > .more {
            color: @colour-quaternary-lighter;
            text-decoration: underline;
            text-transform: lowercase;

            &:hover {
              color: @colour-secondary-darker;
            }
          }

          > .post__date {
            display: block;
            .margin(top, .3);
            color: @colour-secondary-darker;
          }
        }
      }
    }
  }
}
