.tabset {
  .tabset__nav {
    border: 0;

    > li {
      .margin(right, .4);
      > a {
        background-color: @colour-primary;
        border-width: 15px 15px;
        border-color: @colour-primary;
        .border-image(url(../images/tab.png) 15 15 stretch);
        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;

        line-height: 1;
        color: #fff;
        text-transform: uppercase;
        .font-size(18);
        font-weight: 900;
        text-shadow: 2px 2px 1px rgba(0,0,0,.4);

        .padding(horizontal, .3);

        &:hover {
          color: #fff;
          background-color: #510921;
          border-color: #510921;
          .border-image(url(../images/tab--selected.png) 15 15 stretch);
        }
      }

      &.is-active > a,
      &.is-active > a:hover {
        background-color: #510921;
        border-width: 15px 15px;
        border-color: #510921;
        .border-image(url(../images/tab--selected.png) 15 15 stretch);
      }
    }
  }
}
