.box--default-tier-group {
  .box__inner {
    overflow: hidden;
    background: url(../images/tiers/members-referral-bg-texture.jpg);
    .padding(horizontal, .5);
    .padding(bottom, .5);
    .padding(top, 1.5);
    .border-radius(8px);

    h2 {
      display: none;
    }

    .tier {
      .wonky-borders--box(8, -6, -6);
      height: 220px;
      .margin(vertical, 1/2);

      &:first-child {
        > .tier__inner:after {
          background: url(../images/tiers/members-referral-reward-1-bg.png) no-repeat center 50px;
        }

        > .tier__inner > .tier__content:after {
          background: url(../images/tiers/members-referral-star-1.png) no-repeat;
        }
      }

      &:last-child {
        > .tier__inner:after {
          background: url(../images/tiers/members-referral-reward-3-bg.png) no-repeat center 25%;
        }

        > .tier__inner > .tier__content:after {
          background: url(../images/tiers/members-referral-star-3.png) no-repeat;
        }
      }

      > .tier__inner {
        border: 10px solid @colour-primary-darker;
        .border-image(url(../images/tiers/members-referral-reward-progress-border-box.png) 10 10 stretch);
        height: 100%;

        .padding(all, .25);
        padding-top: 35px;
        background: #990028;
        -moz-background-clip: padding;     /* Firefox 3.6 */
        -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
        background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

        position: relative;
        z-index: 1;
        &:before {
          content: " ";
          z-index: -1;
          position: absolute;
          top: -2px;
          right: -2px;
          bottom: -2px;
          left: -2px;
          border: 3px dotted #fff;
          .border-radius(8px);
        }

        &:after {
          content: " ";
          z-index: -2;
          position: absolute;
          top: -6px;
          right: -6px;
          bottom: -6px;
          left: -6px;

          background: url(../images/tiers/members-referral-reward-2-bg.png) no-repeat center 25%;
        }

        > h2 {
          .element-invisible();
        }

        > .tier__content {
          height: 100%;
          padding-bottom: 50px;

          position: relative;
          z-index: 1;
          &:after {
            content: " ";
            z-index: -1;
            position: absolute;
            top: -80px;
            left: 50%;
            margin-left: -44px;

            width: 86px;
            height: 89px;

            background: url(../images/tiers/members-referral-star-2.png) no-repeat;
          }

          > .field-name-field-reward-tier-description {
            text-align: center;
            .headings-font-family;
            .font-size(26);
            font-weight: 900;
            text-shadow: 2px 1px 1px rgba(0,0,0,.4);
            color: #fff;
            height: 100%;

            > .field-items {
              height: 100%;
              display: table;
              width: 100%;

              > .field-item {
                display: table-cell;
                vertical-align: middle;
              }
            }
          }
        }

        > .tier__threshold {
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          .padding(horizontal, .25);
          .padding(vertical, .1);
          color: #fff;
          text-align: center;
          background: @colour-primary-light;
          .box-shadow(3px 2px 0 rgba(0,0,0,.8));
          .font-size(15);
        }
      }
    }
  }
}
